In [1]:
# toggle multiple outputs 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# import processing funcs
from data_proc_ntbk_funcs import *

>**PROXY CRITERIA**
- see proxy criteria txt file in this same folder!

In [4]:
## SET-UP CELL
#-------------------------------------------------------------------------------------------

# declare paths 
proj_path = r'C:\Users\ndtcrisologo\Desktop\BTDA Projects\Beams\[DE&T] Bizko Target Market Sizing'
ngf_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/NG/NG_FIN/'
outpay_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/NG/INSTAPAY/INSTAPAY_OUTGOING/'
ipay_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/NG/INSTAPAY/INSTAPAY_INCOMING/'
ngnf_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/NG/NG_NONFIN/'
ppm_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/CLIENT_SEGMENTS/PPM_CSTSMY/'
bantay_path = r'C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\ADHOC DATA\Bantay\Final Output'
bantay_cube_path = r'C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\ADHOC DATA\Bantay\Codes and Run Info\Raw Outliers'
sc_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/CLIENT_SEGMENTS/CST_SCORECARD/'
cstsmy_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/CLIENT_SEGMENTS/CSTSMY/'
subseg_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/CLIENT_SEGMENTS/CST_SUBSEGMEGA/'
ndb_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/CLIENT_INFO/NDB/'
bb_hier_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/CLIENT_INFO/RELA2/'
cb_hier_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/CLIENT_INFO/RELA2/'
ccd_conso_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/CREDIT_CARDS/CC_CONSO/CONSO_CUST_ALL/'
loans_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/LOANS/ACXS/'
dba_path = r'C:\Users\ndtcrisologo\Desktop\BTDA Projects\Beams\[DE&T] Bizko Target Market Sizing\rmrscsm'
inter_path = r'C:\Users\ndtcrisologo\Desktop\BTDA Projects\Beams\[DE&T] Bizko Target Market Sizing\Intermediary Datasets' # intermediary datasets repo
feats_path = r'C:\Users\ndtcrisologo\Desktop\BTDA Projects\Beams\[DE&T] Bizko Target Market Sizing\Feature Sets' # for storing proxy feature sets
ari_buds_path = r'C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Cleaned_BUDS - Intermediary Dataset for Flock'
alldepo_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/DEPOSITS/ALL_DEPO_DS/'
prod_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/PROFITABILITY/CLIENT_PROFITABILITY/'
ave12_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/FUNDS/CST_FUNDS_AVE12_MTDADB/'
br_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/CLIENT_INFO/BR_CODE/'
hier_path = r'C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\REFERENCE\BRANCH_HIERARCHY'
bizko_enrol_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/CORPORATE_AND_BUSINESS_BANK/BIZKO/SUBSCRIPTIONS/'
out_path = r'C:\Users\ndtcrisologo\Desktop\BTDA Projects\Beams\[DE&T] Bizko Target Market Sizing\Outputs'
enrol_path = r's3://bpiprodda-sagemaker-strg/DATASETS/REGULAR_DATA/PRODUCTS_AND_CHANNELS/CHANNEL_ENROLLMENT/'

# declare file formats for those that require ranges
ngf_frmt = 'NG_F_%Y%m_ppm.parquet'
ngnf_frmt = 'NG_NF_%Y%m_ppm.parquet'
outpay_frmt = 'INSTAPAY_OUTGOING_%Y%m.parquet'
ipay_frmt = 'INSTAPAY_INCOMING_%Y%m.parquet'
cstsmy_frmt = 'cstsmy_%Y%m.parquet'
ari_buds_frmt = 'cleaned_buds_ej_%Y_%m.parquet'
alldepo_frmt = 'DEPO_DS_%Y%m.parquet'
enrol_frmt = 'enrollment_%Y%m.parquet'


# declare file formats for those where only the latest is needed
sc_frmt = 'cst_scorecard_*_b.parquet'
#cstsmy_frmt = 'cstsmy_*.parquet'
subseg_frmt = 'cst_subseg_mega_??????.parquet'
ndb_frmt = 'NDB_*.parquet'
bb_hier_frmt = 'businessbank_rela2_*.csv'
cb_hier_frmt = 'ccsg_group_list_*.csv'
dba_frmt = 'mask_rmrcsm_*.sas7bdat'
hier_frmt = 'BRANCH_HIERARCHY_*.parquet'
br_frmt = 'BRCODE_*.parquet'
bizko_enrol_frmt = 'subscr_ytd_*.parquet'
clientprod_frmt = 'client_prod_adb_prod_*.parquet'
ave12_frmt = 'ave12_mtdadb_*.parquet'



## PROPER
#------------------------------------------------------------------------------------
# get dates (6 month scope as of 8/15/2023)
end = datetime.today() - relativedelta(months=2) # - 2 since they want us to
start = end-relativedelta(months=5)
start_str = start.strftime('%Y%m')
end_str = end.strftime('%Y%m')
start_str, end_str

# get file ranges
adb_files = get_files(end, 1, alldepo_path, alldepo_frmt)
ngf_files = get_files(end, 6, ngf_path, ngf_frmt)
outsta_files = get_files(end, 6, outpay_path, outpay_frmt)
insta_files = get_files(end, 6, ipay_path, ipay_frmt)
buds_files = get_files(end, 6, ari_buds_path, ari_buds_frmt)
enrol_files = get_files(end, 6, enrol_path, enrol_frmt)
#ngnf_files = get_files(6, ngnf_path, ngnf_frmt)

# declare savenames
buds_savename = f"buds_inter_df_{start_str}_{end_str}.parquet"
pyrl_savename = f"pyrl_inter_df_{start_str}_{end_str}.parquet"
invoice_savename = f"invoice_inter_df_{start_str}_{end_str}.parquet"
bpay_savename = f"bpay_inter_df_{start_str}_{end_str}.parquet"
#inquiry_savename = f"inquiry_inter_df_{start_str}_{end_str}.parquet"

# declare savenames for proxy feature sets
buds_feats_savename = f"buds_feats_{start_str}_{end_str}.parquet"
pyrl_feats_savename = f"pyrl_feats_{start_str}_{end_str}.parquet"
invoice_feats_savename = f"invoice_feats_{start_str}_{end_str}.parquet"
bpay_feats_savename = f"bpay_feats_{start_str}_{end_str}.parquet"
inquiry_feats_savename = f"inquiry_feats_{start_str}_{end_str}.parquet"

# declare FINAL output savename
final_savename = f"bizko_profiles_{end_str}.xlsx"

('202310', '202403')

DatetimeIndex(['2024-03-01 16:26:35.018699'], dtype='datetime64[ns]', freq='MS')

                 Filename Size (MB):
0  DEPO_DS_202403.parquet   738.46mb

DatetimeIndex(['2023-10-01 16:26:35.018699', '2023-11-01 16:26:35.018699',
               '2023-12-01 16:26:35.018699', '2024-01-01 16:26:35.018699',
               '2024-02-01 16:26:35.018699', '2024-03-01 16:26:35.018699'],
              dtype='datetime64[ns]', freq='MS')

                  Filename Size (MB):
0  NG_F_202310_ppm.parquet   521.85mb
1  NG_F_202311_ppm.parquet   801.75mb
2  NG_F_202312_ppm.parquet   917.49mb
3  NG_F_202401_ppm.parquet   844.19mb
4  NG_F_202402_ppm.parquet   759.73mb
5  NG_F_202403_ppm.parquet   840.12mb

DatetimeIndex(['2023-10-01 16:26:35.018699', '2023-11-01 16:26:35.018699',
               '2023-12-01 16:26:35.018699', '2024-01-01 16:26:35.018699',
               '2024-02-01 16:26:35.018699', '2024-03-01 16:26:35.018699'],
              dtype='datetime64[ns]', freq='MS')

                           Filename Size (MB):
0  INSTAPAY_OUTGOING_202310.parquet   159.55mb
1  INSTAPAY_OUTGOING_202311.parquet   167.95mb
2  INSTAPAY_OUTGOING_202312.parquet   142.59mb
3  INSTAPAY_OUTGOING_202401.parquet   196.59mb
4  INSTAPAY_OUTGOING_202402.parquet   208.12mb
5  INSTAPAY_OUTGOING_202403.parquet   130.77mb

DatetimeIndex(['2023-10-01 16:26:35.018699', '2023-11-01 16:26:35.018699',
               '2023-12-01 16:26:35.018699', '2024-01-01 16:26:35.018699',
               '2024-02-01 16:26:35.018699', '2024-03-01 16:26:35.018699'],
              dtype='datetime64[ns]', freq='MS')

                           Filename Size (MB):
0  INSTAPAY_INCOMING_202310.parquet   171.29mb
1  INSTAPAY_INCOMING_202311.parquet   171.78mb
2  INSTAPAY_INCOMING_202312.parquet   200.21mb
3  INSTAPAY_INCOMING_202401.parquet   181.51mb
4  INSTAPAY_INCOMING_202402.parquet   180.39mb
5  INSTAPAY_INCOMING_202403.parquet   181.59mb

DatetimeIndex(['2023-10-01 16:26:35.018699', '2023-11-01 16:26:35.018699',
               '2023-12-01 16:26:35.018699', '2024-01-01 16:26:35.018699',
               '2024-02-01 16:26:35.018699', '2024-03-01 16:26:35.018699'],
              dtype='datetime64[ns]', freq='MS')

                          Filename Size (MB):
0  cleaned_buds_ej_2023_10.parquet   259.26mb
1  cleaned_buds_ej_2023_11.parquet   241.76mb
2  cleaned_buds_ej_2023_12.parquet   249.06mb
3  cleaned_buds_ej_2024_01.parquet   270.84mb

DatetimeIndex(['2023-10-01 16:26:35.018699', '2023-11-01 16:26:35.018699',
               '2023-12-01 16:26:35.018699', '2024-01-01 16:26:35.018699',
               '2024-02-01 16:26:35.018699', '2024-03-01 16:26:35.018699'],
              dtype='datetime64[ns]', freq='MS')

                    Filename Size (MB):
0  enrollment_202310.parquet    45.35mb
1  enrollment_202311.parquet    84.03mb
2  enrollment_202312.parquet    86.48mb
3  enrollment_202401.parquet    82.44mb
4  enrollment_202402.parquet    82.23mb
5  enrollment_202403.parquet    79.31mb

In [1]:
ref_path = r'C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REFERENCE\PRODUCT_REF'

In [10]:
temp = pd.read_parquet(os.path.join(ref_path, max(os.listdir(ref_path))))
temp.columns

Index(['MEASURE_PERIOD', 'VERSION', 'PD_ID', 'CBG_PD_ID', 'CORP_ID', 'ORG',
       'CCY', 'BDW_CCY', 'SRC_SYS', 'PPM_DESC', 'NEW_PROD_GROUP', 'PROD_GROUP',
       'CBG_PROD_BRAND', 'CBG_PRODUCT_NAME', 'UNIQUE_DESC', 'CBG_PROD_TYPE',
       'PPM_PROD_TYPE_OLD', 'PROD_CAT', 'PROD_TYPE', 'PROD_TYPE_2',
       'PROD_TYPE_3', 'PROD_LINE', 'VAR21', 'PROD_TYPE_SCPD',
       'PRODUCT_TYPE_RM', 'ACCOUNT_SUBTYPE_IN_FDS', 'ASSET_CLASS',
       'PROD_TYPE_AMTG', 'FUND_NAME', 'PROD_TYPE_RBG', 'PROD_TYPE_CCSG',
       'PROD_TYPE_SUGAR_CRM', 'VAR31', 'WITH_DST', 'CURR_CODE'],
      dtype='object')

In [24]:
temp.loc[temp.PD_ID=='0243']

,MEASURE_PERIOD,VERSION,PD_ID,CBG_PD_ID,CORP_ID,ORG,CCY,BDW_CCY,SRC_SYS,PPM_DESC,...,ACCOUNT_SUBTYPE_IN_FDS,ASSET_CLASS,PROD_TYPE_AMTG,FUND_NAME,PROD_TYPE_RBG,PROD_TYPE_CCSG,PROD_TYPE_SUGAR_CRM,VAR31,WITH_DST,CURR_CODE
2235,2023-12-31,01-04-2024,0243,243,01,None,101,PHP,ST,Saver-Plus Debit Card,...,None,None,None,None,Peso Build-Up,Peso Build-Up,Peso Build-Up,Statement,NO,PHP
2236,2023-12-31,01-04-2024,0243,243,01,None,001,PHP,ST,Saver-Plus Debit Card,...,None,None,None,None,Peso Build-Up,Peso Build-Up,Peso Build-Up,Statement,NO,PHP
2237,2023-12-31,01-04-2024,0243,243,02,None,101,PHP,ST,Saver-Plus Debit Card,...,None,None,None,None,Peso Build-Up,Peso Build-Up,Peso Build-Up,Statement,NO,PHP
2238,2023-12-31,01-04-2024,0243,243,02,None,001,PHP,ST,Saver-Plus Debit Card,...,None,None,None,None,Peso Build-Up,Peso Build-Up,Peso Build-Up,Statement,NO,PHP

# Process Proxy Datasets

**JTBD List**
1) *Store money in branch & Receive money through branch **(Branch invoice proxy)***
2) *Pay employees through NG **(NG Payroll proxy)***
3) *Receive money through NG **(NG Invoice proxy)***

### 1) Store Money in Branch (Branch deposit proxy) and Receive money through branch (Branch invoice proxy)

In [4]:
# set buds cols to use 
buds_cols = ['BRANCH','TRAN_NAME','AR_ID','CST_ID','MARKET_SEGMENT','TRAN_AMOUNT','BUSINESS_DATE']

# produce concatenated buds deposits data
buds_df = proc_buds(ari_buds_path, buds_files, verbose=True)

# write inter file
buds_df.to_parquet(os.path.join(inter_path, buds_savename))
del buds_df
gc.collect()
gc.collect()

Edge: 2024-01-01 00:00:00

  0%|          | 0/4 [00:00<?, ?it/s]

59

0

In [5]:
# load intermediary data
os.chdir(inter_path)
buds = pd.read_parquet(max(glob.glob('*buds*.parquet'))).reset_index(drop=True)
buds.head()
buds.shape

,BRANCH,TRAN_NAME,AR_ID,CST_ID,MARKET_SEGMENT,TRAN_AMOUNT,BUSINESS_DATE,MONTH
0,1027,SA LATE LOCAL CHECK DEPOSIT,667682640.0,845108910.0,NaN,8500.0,2023-10-02,2023-10-01
1,354,SA CASH DEPOSIT,617891850.0,716070520.0,NaN,30000.0,2023-10-02,2023-10-01
2,354,SA LOCAL CHECK DEPOSIT,689384930.0,230054610.0,NaN,15000.0,2023-10-02,2023-10-01
3,354,CA LOCAL CHECK DEPOSIT,969752630.0,45178410.0,NaN,2750.0,2023-10-02,2023-10-01
4,434,SA CASH DEPOSIT,857899350.0,294760410.0,NaN,20000.0,2023-10-02,2023-10-01

(7590116, 8)

In [6]:
# process data and save
br = get_buds_features(buds)
br.head()
br.shape

# write
br.to_parquet(os.path.join(feats_path, buds_feats_savename))
del br
gc.collect()
gc.collect()

,CST_ID,AR_ID,BRANCH_DEPOSIT_PRESENCE,MONTHLY_UNIQUE_BRANCHES,BRANCH,NO_OF_UNIQUE_BRANCHES,BR_DEPOSIT_JTBD_MANUAL,RECEIVE_JTBD_MANUAL
3511854,74157500.0,364616350.0,19.666667,3.000000,497,5,1,1
57182602,633160100.0,669436220.0,19.333333,7.666667,137,8,1,1
14190171,102946320.0,300564550.0,19.333333,37.666667,903,52,1,1
52333339,529410200.0,131651420.0,19.333333,34.333333,187,43,1,1
10917975,102289400.0,355266900.0,19.333333,324.000000,99,444,1,1

(1637360, 8)

0

0

### 2) NG Payroll Proxy

In [7]:
# # Declare tran types to use
payroll_typs = [#'INTER BANK FUNDS TRANSFER', # the phantom ids for benes would be instapay 
                #'INTER BANK FUNDS TRANSFER (QR)',
                #'BATCH FUNDS TRANSFER' # CHECK THIS FIRST
                'FT 3RD PARTY', 
                'FT 3RD PARTY (QR)',
                'FT TO ANYONE',
                'FT TO ANYONE (QR)',
                'FT TO ANYONE FOR PAYROLL', # APPLY CHANNEL FILTER FIRST (remove BEAMS channel but might have to remove the whole column nalang)
                #'PESONET TRANSFER' # ibft but big amounts 
                ]
                #'E-WALLET MAYA UN-ENROLLED',
                #'E-WALLET PMAYA UN-ENROLLED',
                #'E-WALLET BPI VYBE UN-ENROLLED'] #note cant use ewallet since they use aggregators (CST_ID there would be the aggregator)

# get concatenated ng fin dataset 
ng_pyrl = proc_ng(sc_path, ngf_files, payroll_typs)
ng_pyrl.shape

# process outstapay data
outsta_pyrl = proc_outstapay(sc_path, outsta_files, verbose=True)
outsta_pyrl.shape

# merge both into single df and add tags
pyrl_df = pd.concat([ng_pyrl, outsta_pyrl], axis=0, ignore_index=True).rename(columns={'SRC_CUST_ID':'CST_ID'})
                #.merge(tags, on='CST_ID', how='left').reset_index(drop=True)
pyrl_df.head()
pyrl_df.shape

# write
pyrl_df.to_parquet(os.path.join(inter_path, pyrl_savename))

# free up space
del ng_pyrl, outsta_pyrl, pyrl_df
garbc()

Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\NG_FIN\NG_F_202310_ppm.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\NG_FIN\NG_F_202311_ppm.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\NG_FIN\NG_F_202312_ppm.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\NG_FIN\NG_F_202401_ppm.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\NG_FIN\NG_F_202402_ppm.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\NG_FIN\NG_F_202403_ppm.parquet
Completed Concatenation for ng fin!

(21804325, 5)

Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_OUTGOING\INSTAPAY_OUTGOING_202310.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_OUTGOING\INSTAPAY_OUTGOING_202311.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_OUTGOING\INSTAPAY_OUTGOING_202312.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_OUTGOING\INSTAPAY_OUTGOING_202401.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_OUTGOING\INSTAPAY_OUTGOING_202402.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_OUTGOING\INSTAPAY_OUTGOING_202403.parquet
Completed Concatenation for outstapay!

(30689209, 5)

        CST_ID     SRC_ARID  BENE_CUST_ID          TRAN_TYPE  MONTH
0  243655000.0  525878440.0   790246510.0       FT TO ANYONE     10
1  252855000.0  923572500.0   222591500.0  FT TO ANYONE (QR)     10
2  252855000.0  923572500.0    50519410.0       FT 3RD PARTY     10
3  252855000.0  923572500.0    50519410.0       FT 3RD PARTY     10
4  591265000.0          NaN   217497800.0       FT 3RD PARTY     10

(52493534, 5)

In [8]:
# load intermediary data
os.chdir(inter_path)
pyrl = pd.read_parquet(max(glob.glob('*pyrl_inter*.parquet'))).reset_index(drop=True)
pyrl.head()
pyrl.shape

        CST_ID     SRC_ARID  BENE_CUST_ID          TRAN_TYPE  MONTH
0  243655000.0  525878440.0   790246510.0       FT TO ANYONE     10
1  252855000.0  923572500.0   222591500.0  FT TO ANYONE (QR)     10
2  252855000.0  923572500.0    50519410.0       FT 3RD PARTY     10
3  252855000.0  923572500.0    50519410.0       FT 3RD PARTY     10
4  591265000.0          NaN   217497800.0       FT 3RD PARTY     10

(52493534, 5)

In [9]:
# process features
pyrl = get_pyrl_features(pyrl)\
        .pipe(lambda x: x.assign(PAYROLL_NG_PROXY_FLAG=np.where(((x.TOT_UNIQ_BENE_OMNIPRESENT>=2 ) | ((x.TOT_UNIQ_BENE_OMNIPRESENT<2) & (x.MEAN_TRAN_TO_UNIQ_BENE>=4))),
                                     1, 
                                        0)))
pyrl.head()
pyrl.shape

# write
pyrl.to_parquet(os.path.join(feats_path, pyrl_feats_savename))

nan rows to drop: AR_ID                        0
MEAN_TRAN_TO_UNIQ_BENE       0
TOT_UNIQ_BENE_OMNIPRESENT    0
dtype: int64

,MEAN_TRAN_TO_UNIQ_BENE,TOT_UNIQ_BENE_OMNIPRESENT,PAYROLL_NG_PROXY_FLAG
AR_ID,,,
230.0,1.0,0.0,0
250.0,1.0,0.0,0
540.0,1.0,0.0,0
1150.0,3.0,0.0,0
1210.0,1.0,0.0,0

(2992343, 3)

### 3) NG Invoice Proxy

In [10]:
# process NG Fin incoming txns
ng_sales = proc_ng(sc_path, ngf_files, payroll_typs, verbose=False, proxy='Invoice')
ng_sales.shape

# process instapay incoming txns
insta_sales = proc_instapay(sc_path, insta_files, verbose=True)
insta_sales.shape

# merge into single file and add tags
sales_df = pd.concat([ng_sales, insta_sales], axis=0, ignore_index=True).rename(columns={'BENE_CUST_ID':'CST_ID'})
                #.merge(tags, on='CST_ID', how='left').reset_index(drop=True)
sales_df.head()
sales_df.shape

# write
sales_df.to_parquet(os.path.join(inter_path, invoice_savename))

# free up space
del ng_sales, insta_sales, sales_df
garbc()

Completed Concatenation for ng fin!

(21804331, 5)

Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_INCOMING\INSTAPAY_INCOMING_202310.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_INCOMING\INSTAPAY_INCOMING_202311.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_INCOMING\INSTAPAY_INCOMING_202312.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_INCOMING\INSTAPAY_INCOMING_202401.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_INCOMING\INSTAPAY_INCOMING_202402.parquet
Successfully Read and Processed: C:\Users\ndtcrisologo\OneDrive - bpi.com.ph\Documents\REGULAR_DATA\NG\INSTAPAY\INSTAPAY_INCOMING\INSTAPAY_INCOMING_202403.parquet
Completed Concatenation for instapay!

(31905017, 5)

   SRC_CUST_ID    BENE_ARID       CST_ID          TRAN_TYPE  MONTH  TXN_AMOUNT
0  243655000.0    7785420.0  790246510.0       FT TO ANYONE     10         NaN
1  252855000.0  231693550.0  222591500.0  FT TO ANYONE (QR)     10         NaN
2  252855000.0  245430440.0   50519410.0       FT 3RD PARTY     10         NaN
3  252855000.0  245430440.0   50519410.0       FT 3RD PARTY     10         NaN
4  591265000.0  273664330.0  217497800.0       FT 3RD PARTY     10         NaN

(53709348, 6)

In [11]:
# load intermediary data
os.chdir(inter_path)
inv = pd.read_parquet(max(glob.glob('*invoice_inter*.parquet'))).reset_index(drop=True)
inv.head()
inv.shape

   SRC_CUST_ID    BENE_ARID       CST_ID          TRAN_TYPE  MONTH  TXN_AMOUNT
0  243655000.0    7785420.0  790246510.0       FT TO ANYONE     10         NaN
1  252855000.0  231693550.0  222591500.0  FT TO ANYONE (QR)     10         NaN
2  252855000.0  245430440.0   50519410.0       FT 3RD PARTY     10         NaN
3  252855000.0  245430440.0   50519410.0       FT 3RD PARTY     10         NaN
4  591265000.0  273664330.0  217497800.0       FT 3RD PARTY     10         NaN

(53709348, 6)

In [12]:
# process feats and then add flag based on Dec 2022 Bizko Target Market Study
inv = get_invoice_features(inv)\
        .pipe(lambda x:x.assign(INVOICE_NG_PROXY_FLAG=np.where((x.MEAN_MTH_INVOICE_COUNT>=10),
                                     1, 
                                        0)))
inv.head()
inv.shape

nan rows to drop: BENE_ARID                 0
MEAN_MTH_INVOICE_COUNT    0
MEAN_MTH_UNIQ_SENDERS     0
dtype: int64

        MEAN_MTH_INVOICE_COUNT  MEAN_MTH_UNIQ_SENDERS  INVOICE_NG_PROXY_FLAG
AR_ID
230.0                 1.000000                    1.0                      0
250.0                 1.500000                    1.5                      0
540.0                 1.500000                    1.5                      0
1150.0                3.333333                    2.5                      0
1210.0                3.000000                    1.0                      0

(3848259, 3)

In [13]:
# write 
inv.to_parquet(os.path.join(feats_path, invoice_feats_savename))

> **Combining NG Proxy flags**

In [14]:
# load flags
os.chdir(feats_path)
pyrl = pd.read_parquet(max(glob.glob('pyrl*.parquet')))
inv = pd.read_parquet(max(glob.glob('invoice*.parquet')))

In [15]:
# get inter data 
os.chdir(inter_path)
pyrl_inter = pd.read_parquet(max(glob.glob('pyrl_inter*.parquet'))).reset_index(drop=True).rename(columns={'SRC_ARID':'AR_ID'})
inv_inter = pd.read_parquet(max(glob.glob('invoice_inter*.parquet'))).reset_index(drop=True).rename(columns={'BENE_ARID':'AR_ID'})

# load flags
os.chdir(feats_path)
pyrl = pd.read_parquet(max(glob.glob('pyrl*.parquet'))).reset_index()
inv = pd.read_parquet(max(glob.glob('invoice*.parquet'))).reset_index()

# merge intermediary datasets with their respective processed flagsa 
pyrl_jtbd = pyrl_inter.merge(pyrl.reset_index()[['AR_ID','PAYROLL_NG_PROXY_FLAG']], on='AR_ID', how='left')
inv_jtbd = inv_inter.merge(inv.reset_index()[['AR_ID','INVOICE_NG_PROXY_FLAG']], on='AR_ID', how='left')
pyrl_jtbd.head()
inv_jtbd.head()

# merge all NG proxy flags (CST_ID level now)
ng_flags =  pd.merge(pyrl_jtbd.query("PAYROLL_NG_PROXY_FLAG==1").drop_duplicates('CST_ID')[['CST_ID', 'PAYROLL_NG_PROXY_FLAG']].reset_index(drop=True),
                        inv_jtbd.query("INVOICE_NG_PROXY_FLAG==1").drop_duplicates('CST_ID')[['CST_ID', 'INVOICE_NG_PROXY_FLAG']].reset_index(drop=True),
                        on='CST_ID', how='outer').fillna(0)
print(f"Final NG Proxy Flags DF")
ng_flags

# all ng flags savename
all_ng_feats_savename = f"all_ng_feats_df_{start_str}_{end_str}.parquet"
ng_flags.to_parquet(os.path.join(feats_path, all_ng_feats_savename))
del ng_flags
gc.collect()
gc.collect()

,CST_ID,AR_ID,BENE_CUST_ID,TRAN_TYPE,MONTH,PAYROLL_NG_PROXY_FLAG
0,243655000.0,525878440.0,790246510.0,FT TO ANYONE,10,1.0
1,252855000.0,923572500.0,222591500.0,FT TO ANYONE (QR),10,1.0
2,252855000.0,923572500.0,50519410.0,FT 3RD PARTY,10,1.0
3,252855000.0,923572500.0,50519410.0,FT 3RD PARTY,10,1.0
4,591265000.0,NaN,217497800.0,FT 3RD PARTY,10,NaN

,SRC_CUST_ID,AR_ID,CST_ID,TRAN_TYPE,MONTH,TXN_AMOUNT,INVOICE_NG_PROXY_FLAG
0,243655000.0,7785420.0,790246510.0,FT TO ANYONE,10,NaN,0
1,252855000.0,231693550.0,222591500.0,FT TO ANYONE (QR),10,NaN,0
2,252855000.0,245430440.0,50519410.0,FT 3RD PARTY,10,NaN,0
3,252855000.0,245430440.0,50519410.0,FT 3RD PARTY,10,NaN,0
4,591265000.0,273664330.0,217497800.0,FT 3RD PARTY,10,NaN,0

Final NG Proxy Flags DF

             CST_ID  PAYROLL_NG_PROXY_FLAG  INVOICE_NG_PROXY_FLAG
0       243655000.0                    1.0                    0.0
1       252855000.0                    1.0                    0.0
2       401465000.0                    1.0                    1.0
3       766765000.0                    1.0                    0.0
4       450875000.0                    1.0                    1.0
...             ...                    ...                    ...
267195  334368810.0                    0.0                    1.0
267196  399878900.0                    0.0                    1.0
267197  824281600.0                    0.0                    1.0
267198  330295500.0                    0.0                    1.0
267199  963873420.0                    0.0                    1.0

[267200 rows x 3 columns]

0

0

# Getting Final Flags

In [16]:
# load feature dataframes
os.chdir(feats_path)
ng = pd.read_parquet(f"all_ng_feats_df_{start_str}_{end_str}.parquet")
buds = pd.read_parquet(f'buds_feats_{start_str}_{end_str}.parquet').rename(columns={'BR_DEPOSIT_JTBD_MANUAL':'BR_DEPOSIT_PROXY_FLAG',
                                                                            'RECEIVE_JTBD_MANUAL':'BR_INVOICE_PROXY_FLAG'})
ng
buds

             CST_ID  PAYROLL_NG_PROXY_FLAG  INVOICE_NG_PROXY_FLAG
0       243655000.0                    1.0                    0.0
1       252855000.0                    1.0                    0.0
2       401465000.0                    1.0                    1.0
3       766765000.0                    1.0                    0.0
4       450875000.0                    1.0                    1.0
...             ...                    ...                    ...
267195  334368810.0                    0.0                    1.0
267196  399878900.0                    0.0                    1.0
267197  824281600.0                    0.0                    1.0
267198  330295500.0                    0.0                    1.0
267199  963873420.0                    0.0                    1.0

[267200 rows x 3 columns]

,CST_ID,AR_ID,BRANCH_DEPOSIT_PRESENCE,MONTHLY_UNIQUE_BRANCHES,BRANCH,NO_OF_UNIQUE_BRANCHES,BR_DEPOSIT_PROXY_FLAG,BR_INVOICE_PROXY_FLAG
3511854,74157500.0,364616350.0,19.666667,3.000000,497,5,1,1
57182602,633160100.0,669436220.0,19.333333,7.666667,137,8,1,1
14190171,102946320.0,300564550.0,19.333333,37.666667,903,52,1,1
52333339,529410200.0,131651420.0,19.333333,34.333333,187,43,1,1
10917975,102289400.0,355266900.0,19.333333,324.000000,99,444,1,1
...,...,...,...,...,...,...,...,...
45243490,394187700.0,433375710.0,0.333333,0.666667,67,2,0,0
45243464,394182620.0,44471160.0,0.333333,0.333333,810,1,0,0
45243470,394184010.0,872034650.0,0.333333,0.333333,90,1,0,0
45243477,394184520.0,292787950.0,0.333333,0.333333,9,1,0,0
78757968,999999800.0,357030330.0,0.333333,0.333333,846,1,0,0

In [17]:
# merge them
final = ng.merge(buds[['CST_ID']+[col for col in buds.columns if 'FLAG' in col]], on='CST_ID', how='outer').fillna(0).set_index('CST_ID')\
            .pipe(lambda x: x.assign(SUM_ALL=x.sum(axis=1)))\
                .pipe(lambda x: x.assign(TARGET_FLAG_LENIENT=np.where(x.SUM_ALL>=1, 1, 0)))\
                    .drop(columns=['SUM_ALL'])
final

# check flags
final.sum(axis=0)

,PAYROLL_NG_PROXY_FLAG,INVOICE_NG_PROXY_FLAG,BR_DEPOSIT_PROXY_FLAG,BR_INVOICE_PROXY_FLAG,TARGET_FLAG_LENIENT
CST_ID,,,,,
243655000.0,1.0,0.0,0.0,0.0,1
252855000.0,1.0,0.0,0.0,0.0,1
401465000.0,1.0,1.0,0.0,0.0,1
766765000.0,1.0,0.0,0.0,0.0,1
450875000.0,1.0,1.0,0.0,0.0,1
...,...,...,...,...,...
394187700.0,0.0,0.0,0.0,0.0,0
394182620.0,0.0,0.0,0.0,0.0,0
394184010.0,0.0,0.0,0.0,0.0,0
394184520.0,0.0,0.0,0.0,0.0,0
999999800.0,0.0,0.0,0.0,0.0,0

PAYROLL_NG_PROXY_FLAG    168725.0
INVOICE_NG_PROXY_FLAG    121471.0
BR_DEPOSIT_PROXY_FLAG    118751.0
BR_INVOICE_PROXY_FLAG     30312.0
TARGET_FLAG_LENIENT      379330.0
dtype: float64

In [18]:
# load sc and cstsmy (process also age and cst column)
sc = pd.read_parquet(os.path.join(sc_path, max(os.listdir(sc_path))), columns=['CST_ID','cl_id_grp','cl_id4','scorecard_id'])\
        
cs = pd.read_parquet(os.path.join(cstsmy_path, max(os.listdir(cstsmy_path))), columns=['CST_ID','MEASURE_PERIOD','CST_AGE','CST_TENURE','BRTH_DT','CST_SINCE','IDV_GENDER_ID', 'IDV_OCP_TYP_ID'])\
            .rename(columns={'IDV_GENDER_ID':'GENDER'})

# process age and cst column
cs['AGE'] = ((datetime.today() - cs.BRTH_DT).astype('timedelta64[Y]')).fillna(cs.CST_AGE)
cs['TENURE'] = ((datetime.today() - cs.CST_SINCE.astype('datetime64[ns]')).astype('timedelta64[Y]')).fillna(cs.CST_TENURE)

# check
sc.head()
cs.head()

   CST_ID cl_id_grp        cl_id4   scorecard_id
0    20.0  b.Retail  d1.Core Mass  BASE_EXISTING
1   100.0  b.Retail       b1.Gold  BASE_EXISTING
2   320.0  b.Retail  d1.Core Mass  BASE_EXISTING
3   420.0  b.Retail  d1.Core Mass  BASE_EXISTING
4   610.0  b.Retail       b3.Next  BASE_EXISTING

,CST_ID,MEASURE_PERIOD,CST_AGE,CST_TENURE,BRTH_DT,CST_SINCE,GENDER,IDV_OCP_TYP_ID,AGE,TENURE
0,10.0,2024-03-31,31.0,12,1993-05-23,2010-03-29,FEMALE,UNVERIFIED,31.0,14.0
1,20.0,2024-03-31,36.0,73,1988-05-04,2018-03-07,FEMALE,EMPLOYED,36.0,6.0
2,100.0,2024-03-31,55.0,381,1969-05-26,1992-07-17,FEMALE,OFW,55.0,31.0
3,110.0,2024-03-31,51.0,14,1973-05-21,2011-02-28,FEMALE,HOUSEWIFE,51.0,13.0
4,120.0,2024-03-31,37.0,27,1987-03-19,2018-12-20,MALE,UNVERIFIED,37.0,5.0

In [19]:
# merge final
out = cs[['CST_ID','GENDER','TENURE','AGE','IDV_OCP_TYP_ID']].merge(final.query("TARGET_FLAG_LENIENT==1").filter(regex='FLAG').reset_index(), on='CST_ID',how='outer')\
        .merge(sc[['CST_ID','cl_id_grp','cl_id4', 'scorecard_id']], on='CST_ID', how='left').rename(columns={'cl_id4':'SEGMENT', 'cl_id_grp':'SEGMENT_GRP'})
# merge the remaining 
out.head()

,CST_ID,GENDER,TENURE,AGE,IDV_OCP_TYP_ID,PAYROLL_NG_PROXY_FLAG,INVOICE_NG_PROXY_FLAG,BR_DEPOSIT_PROXY_FLAG,BR_INVOICE_PROXY_FLAG,TARGET_FLAG_LENIENT,SEGMENT_GRP,SEGMENT,scorecard_id
0,10.0,FEMALE,14.0,31.0,UNVERIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20.0,FEMALE,6.0,36.0,EMPLOYED,NaN,NaN,NaN,NaN,NaN,b.Retail,d1.Core Mass,BASE_EXISTING
2,100.0,FEMALE,31.0,55.0,OFW,NaN,NaN,NaN,NaN,NaN,b.Retail,b1.Gold,BASE_EXISTING
3,110.0,FEMALE,13.0,51.0,HOUSEWIFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,120.0,MALE,5.0,37.0,UNVERIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
out.CST_ID.duplicated().sum()

0

In [21]:
# filter to retail only 
print(f"Filtering out non-retail clients...")
out = out.loc[out.SEGMENT_GRP=='b.Retail']

# removing attrited clients
print(f"Removing attrited clients.....")
print(f"Num clients PRE attrited purge: {out.CST_ID.nunique()}")
out = out.pipe(lambda x: x.loc[~x.scorecard_id.str.contains('ATTRITE')])
print(f"Num clients POST attrited purge: {out.CST_ID.nunique()}")

# check distribution of selfemployed for sanity checking before we assign custom
print(f"Number of self-employed from latest CSTSMY: {out.loc[out.IDV_OCP_TYP_ID=='SELFEMPLOYED'].shape[0]}")

# filter to include only self employed and those with wtih side hustler flags (target lenient flag ==1)
print('Adding self employed tagging.....') # verbose
out = out.query("(IDV_OCP_TYP_ID=='SELFEMPLOYED')|(TARGET_FLAG_LENIENT==1)")\
        .pipe(lambda x: x.assign(EMPLOYMENT_FLAG=np.select([x.IDV_OCP_TYP_ID=='SELFEMPLOYED',
                                                            x.TARGET_FLAG_LENIENT==1],
                                                            ['SELF_EMPLOYED','SIDE_HUSTLER'], np.nan)))
# verbose
print(f"Employment distribution:")
out = out.dropna(subset=['EMPLOYMENT_FLAG']) # REMOVE ALL WHO ARE NOT EITHER SELFEMPLOYED OR SIDE HUSTLERS
out.EMPLOYMENT_FLAG.value_counts(dropna=False)

# add dba
print('Adding DBA tag.....') # verbose
dba = pd.read_parquet(max([os.path.join(dba_path, f) for f in os.listdir(dba_path) if 'DBA' in f]))
dba_ids = dba.loc[dba.RELA_CD.str.contains('DBA')].CST_ID.tolist()
out['DBA'] = np.where(out.CST_ID.isin(dba_ids), 1, 0)
del dba
gc.collect()
gc.collect()
print(out.shape)

# add 12 mos mean adb
print('Adding 12 MOS AVG ADB.....') # verbose
#alldepo = pd.read_parquet(os.path.join(alldepo_path, end.strftime(alldepo_frmt)), columns=['CST_ID','AV_DLY_BAL_YTD'])\
                #.rename(columns={'AV_DLY_BAL':'MTD_ADB'})
ave12 = pd.read_parquet(max(glob.glob(os.path.join(ave12_path, ave12_frmt))))\
                .pipe(lambda x: x[['CST_ID']+[col for col in x.columns if 'FUNDS_PMT' in col]])\
                        .pipe(lambda x: x.rename(columns={[col for col in x.columns if 'FUNDS_PMT' in col][-1]:[col for col in x.columns if 'FUNDS_PMT' in col][-1].replace('AVE12_FUNDS_PMT','AVE12_ADB')}))
out = out.merge(ave12, on='CST_ID', how='left')
del ave12
gc.collect()
gc.collect()
print(out.shape)

# add mtd adb
print('Adding MTD ADB.....') # verbose
adb = pd.read_parquet(os.path.join(alldepo_path, end.strftime(alldepo_frmt)), columns=['CST_ID','AV_DLY_BAL'])\
                .rename(columns={'AV_DLY_BAL':'MTD_ADB'})\
                        .groupby(['CST_ID']).agg(MTD_ADB=('MTD_ADB','sum'))
out = out.merge(adb, on='CST_ID', how='left')
del adb
gc.collect()
gc.collect()
print(out.shape)

# add branch of account 
print('Adding BOA data.....') # verbose
br = pd.read_parquet(max(glob.glob(os.path.join(br_path, br_frmt))), columns=['CST_ID','br_code'])\
        .pipe(lambda x: x.rename(columns={col:col.upper() for col in x.columns}))\
                .merge(pd.read_parquet(max(glob.glob(os.path.join(hier_path, hier_frmt))), columns=['BR_CODE','PCC_NAME','DIVISION','AREA']), on='BR_CODE', how='left')\
                    .rename(columns={'PCC_NAME':'BOA'}).reset_index(drop=True)\
                        .drop(columns=['BR_CODE'])
out = out.merge(br, on='CST_ID', how='left')
del br
gc.collect()
gc.collect()
print(out.shape)


# add EOL flag 
print('Adding EOL Flag.....') # verbose
out = out.merge(pd.read_parquet(max(enrol_files), columns=['CST_ID','EOL_FLAG']),
                on='CST_ID', how='left')
gc.collect()
gc.collect()
print(out.shape)

# check
out.head()

Filtering out non-retail clients...
Removing attrited clients.....
Num clients PRE attrited purge: 11088710
Num clients POST attrited purge: 10868752
Number of self-employed from latest CSTSMY: 613507
Adding self employed tagging.....
Employment distribution:

SELF_EMPLOYED    613507
SIDE_HUSTLER     306985
Name: EMPLOYMENT_FLAG, dtype: int64

Adding DBA tag.....

22

0

(920492, 15)
Adding 12 MOS AVG ADB.....

0

0

(920492, 16)
Adding MTD ADB.....

0

0

(920492, 17)
Adding BOA data.....

0

0

(920492, 20)
Adding EOL Flag.....

0

0

(920492, 21)

,CST_ID,GENDER,TENURE,AGE,IDV_OCP_TYP_ID,PAYROLL_NG_PROXY_FLAG,INVOICE_NG_PROXY_FLAG,BR_DEPOSIT_PROXY_FLAG,BR_INVOICE_PROXY_FLAG,TARGET_FLAG_LENIENT,...,SEGMENT,scorecard_id,EMPLOYMENT_FLAG,DBA,AVE12_ADB_MAR23_FEB24,MTD_ADB,BOA,DIVISION,AREA,EOL_FLAG
0,320.0,FEMALE,2.0,68.0,RETIRED,1.0,0.0,0.0,0.0,1.0,...,d1.Core Mass,BASE_EXISTING,SIDE_HUSTLER,0,2847.617086,2565.25,QUIAPO CHURCH,SOUTHERN METRO MANILA,MANILA CENTRAL,1.0
1,610.0,FEMALE,9.0,26.0,SELFEMPLOYED,NaN,NaN,NaN,NaN,NaN,...,b3.Next,BASE_EXISTING,SELF_EMPLOYED,0,172898.642595,298.55,CAINTA FELIX AVE.,NORTHERN METRO MANILA,RIZAL,1.0
2,1110.0,MALE,13.0,46.0,SELFEMPLOYED,NaN,NaN,NaN,NaN,NaN,...,d1.Core Mass,BASE_EXISTING,SELF_EMPLOYED,0,NaN,NaN,MALAYBALAY,VISMIN,CDO NORTHERN MINDANAO,0.0
3,1220.0,FEMALE,4.0,26.0,SELFEMPLOYED,NaN,NaN,NaN,NaN,NaN,...,d1.Core Mass,BASE_EXISTING,SELF_EMPLOYED,0,7541.108499,13608.69,ANGELES FRIENDSHIP,NORTH LUZON,PAMPANGA NORTH,1.0
4,1300.0,FEMALE,24.0,58.0,SELFEMPLOYED,NaN,NaN,NaN,NaN,NaN,...,d1.Core Mass,BASE_EXISTING,SELF_EMPLOYED,0,8929.407051,1139.07,CALAPAN,SOUTH LUZON,BATANGAS,1.0

In [22]:
# save temporarily so i can avoid rerunning tom!
out.to_parquet(os.path.join(proj_path, 'intermediary_out.parquet'))

In [30]:
# loop through each bizko enrolment file and merge all for complete history 
for i, f in enumerate(os.listdir(bizko_enrol_path)):
    # read file and make necessary formatting changes 
    #print(f"Working on {f}.......") # verbose
    temp =  pd.read_parquet(os.path.join(bizko_enrol_path, f)).dropna(how='all')\
                .rename(columns={'IS_SUBSCRIBE':'IS_SUBSCRIBED','IS_SUBSCRIBED_':'IS_SUBSCRIBED'})\
                    .pipe(lambda x: x.assign(CHARGE_EFFECTIVITY_DATE = [val.split(' ')[0] for val in x.CHARGE_EFFECTIVITY_DATE],
                                                        PAYMENT_DATE = [val.split(' ')[0] for val in x.PAYMENT_DATE]))\
                        .pipe(lambda x: x.assign(CHARGE_EFFECTIVITY_DATE = x.CHARGE_EFFECTIVITY_DATE.astype('datetime64'),
                                                            PAYMENT_DATE = x.PAYMENT_DATE.astype('datetime64')))
    # concat
    if i == 0:
        bizko_enrol = temp
    else:
        bizko_enrol = pd.concat([bizko_enrol, temp], axis=0)

    # clear space
    del temp
    gc.collect()
    gc.collect()

bizko_enrol

223

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

0

,CST_ID,AR_ID,BEAMS_CODE,REFERENCE_NUMBER,CHARGE_EFFECTIVITY_DATE,PREMIUM_BASIC,IS_SUBSCRIBED,TYPE_OF_SUBSCRIPTION,PAYMENT_DATE,FINANCING_STATUS
1,441475210.0,856568030.0,SME01012388421,SME-010123-120101-88421,2023-05-28,Basic Monthly,Yes,Monthly,2023-04-28,Expired
2,NaN,NaN,SME01012388441,SME-010123-172801-88441,2024-04-01,Basic Annual,Yes,Annual,2024-03-01,Expired
3,NaN,NaN,SME01022388461,SME-010223-115626-88461,2024-04-01,Basic Annual,Yes,Annual,2024-03-01,Expired
4,755963810.0,950043340.0,SME01022388481,SME-010223-155856-88481,2023-05-28,Premium Monthly,Yes,Monthly,2023-04-28,Expired
5,422162510.0,632991730.0,SME01022388501,SME-010223-174504-88501,2023-05-28,Premium Monthly,Yes,Monthly,2023-04-28,Expired
...,...,...,...,...,...,...,...,...,...,...
19156,NaN,NaN,SME12292399981,SME-122923-083705-99981,2024-03-29,Premium,Yes,Annual,2024-02-29,Active
19157,480485610.0,298401350.0,SME12302288401,SME-123022-133741-88401,2023-05-13,Premium Month,Yes,Monthly,2023-04-13,Expired
19158,NaN,NaN,SME12302300901,SME-123023-101605-00901,2024-03-29,Premium,Yes,Annual,2024-02-29,Active
19159,NaN,NaN,SME12312300921,SME-123123-121514-00921,2024-03-29,Premium,Yes,Annual,2024-02-29,Active
19160,NaN,NaN,SME12312300941,SME-123123-143201-00941,2024-03-29,Premium,Yes,Annual,2024-02-29,Active

In [31]:
bizko_enrol.IS_SUBSCRIBED.value_counts(dropna=False)
bizko_enrol.FINANCING_STATUS.value_counts(dropna=False)

Yes    161350
No      97555
Name: IS_SUBSCRIBED, dtype: int64

Expired      173131
Active        78262
Cancelled      7022
NaN             490
Name: FINANCING_STATUS, dtype: int64

In [32]:
# get bizko enrolled clients
subscr = bizko_enrol.sort_values(by='PAYMENT_DATE', ascending=True).drop_duplicates(subset=['CST_ID'], keep='last')\
            [['CST_ID','IS_SUBSCRIBED']].rename(columns={'IS_SUBSCRIBED':'BIZKO_ENROLLED'})\
                .pipe(lambda x: x.assign(BIZKO_ENROLLED=np.where(x.BIZKO_ENROLLED=='Yes',1,0))).reset_index(drop=True)
subscr.sample(5)
subscr.shape
subscr.BIZKO_ENROLLED.value_counts()

# sort by payment date
payment = bizko_enrol.sort_values(by='PAYMENT_DATE', ascending=True).drop_duplicates(subset=['CST_ID'], keep='first')[['CST_ID','PAYMENT_DATE']]\
                        .rename(columns={'PAYMENT_DATE':'ENROLMENT_DATE'}).dropna(subset=['CST_ID']).reset_index(drop=True)
payment.sample(5)
payment.shape

# month and year of last active subscription (MY ASSUMPTIOON: expiry date is charge effectivity date --- waitin on ms claudine's confirmation on this)
expiry = bizko_enrol.sort_values(by='CHARGE_EFFECTIVITY_DATE', ascending=True).drop_duplicates(subset=['CST_ID'], keep='last')[['CST_ID','CHARGE_EFFECTIVITY_DATE']]\
                        .rename(columns={'CHARGE_EFFECTIVITY_DATE':'EXPIRY_DATE'}).dropna(subset=['CST_ID']).reset_index(drop=True)

expiry.sample(5)
expiry.shape

# merge 
bizko = subscr.reset_index(drop=True)\
                .merge(payment.reset_index(drop=True), on='CST_ID', how='inner')\
                    .merge(expiry.reset_index(drop=True), on='CST_ID', how='inner')
bizko.head()
bizko.shape

           CST_ID  BIZKO_ENROLLED
5524   69530510.0               1
3595  551197410.0               1
7158  630289220.0               1
8466   36520000.0               1
9934   60634620.0               1

(10242, 2)

1    10242
Name: BIZKO_ENROLLED, dtype: int64

           CST_ID ENROLMENT_DATE
1927   84731610.0     2022-07-08
9653  528495520.0     2023-09-20
8100  455345610.0     2023-03-07
4937  663609320.0     2022-08-26
5102    8653510.0     2022-08-29

(10241, 2)

           CST_ID EXPIRY_DATE
7478  726269600.0  2023-10-18
4974   28617910.0  2023-04-20
838   909171600.0  2022-09-29
5200   98933320.0  2023-05-07
948     1247510.0  2022-10-06

(10241, 2)

        CST_ID  BIZKO_ENROLLED ENROLMENT_DATE EXPIRY_DATE
0  200730220.0               1     2021-12-17  2022-01-17
1   73398900.0               1     2022-01-14  2022-02-14
2  187041310.0               1     2022-01-20  2022-04-20
3   99869300.0               1     2022-01-20  2023-01-20
4  237350200.0               1     2022-01-28  2023-01-28

(10241, 4)

In [33]:
# merge with output
out = out.merge(bizko, on='CST_ID', how='outer')\
            .drop(columns=['IDV_OCP_TYP_ID','TARGET_FLAG_LENIENT']).dropna(subset=['EMPLOYMENT_FLAG'])
out['BIZKO_ENROLLED'] = out.BIZKO_ENROLLED.fillna(0)
out.shape
out.CST_ID.duplicated().sum()
out.head()

(920492, 22)

0

,CST_ID,GENDER,TENURE,AGE,PAYROLL_NG_PROXY_FLAG,INVOICE_NG_PROXY_FLAG,BR_DEPOSIT_PROXY_FLAG,BR_INVOICE_PROXY_FLAG,SEGMENT_GRP,SEGMENT,...,DBA,AVE12_ADB_MAR23_FEB24,MTD_ADB,BOA,DIVISION,AREA,EOL_FLAG,BIZKO_ENROLLED,ENROLMENT_DATE,EXPIRY_DATE
0,320.0,FEMALE,2.0,68.0,1.0,0.0,0.0,0.0,b.Retail,d1.Core Mass,...,0.0,2847.617086,2565.25,QUIAPO CHURCH,SOUTHERN METRO MANILA,MANILA CENTRAL,1.0,0.0,NaT,NaT
1,610.0,FEMALE,9.0,26.0,NaN,NaN,NaN,NaN,b.Retail,b3.Next,...,0.0,172898.642595,298.55,CAINTA FELIX AVE.,NORTHERN METRO MANILA,RIZAL,1.0,0.0,NaT,NaT
2,1110.0,MALE,13.0,46.0,NaN,NaN,NaN,NaN,b.Retail,d1.Core Mass,...,0.0,NaN,NaN,MALAYBALAY,VISMIN,CDO NORTHERN MINDANAO,0.0,0.0,NaT,NaT
3,1220.0,FEMALE,4.0,26.0,NaN,NaN,NaN,NaN,b.Retail,d1.Core Mass,...,0.0,7541.108499,13608.69,ANGELES FRIENDSHIP,NORTH LUZON,PAMPANGA NORTH,1.0,0.0,NaT,NaT
4,1300.0,FEMALE,24.0,58.0,NaN,NaN,NaN,NaN,b.Retail,d1.Core Mass,...,0.0,8929.407051,1139.07,CALAPAN,SOUTH LUZON,BATANGAS,1.0,0.0,NaT,NaT

In [34]:
# write separate sheets for self employed and side hustlers
os.chdir(out_path)
with pd.ExcelWriter(final_savename, engine='xlsxwriter') as writer:
    # for every bin 
    for bin in out.EMPLOYMENT_FLAG.unique():
        # verbose
        print(f"Procesing {bin}....")

        # query
        temp = out.query("EMPLOYMENT_FLAG==@bin")\
                    .drop(columns=['EMPLOYMENT_FLAG'])
        
        # remove proxy flags if self empoloyed
        if bin == 'SELF_EMPLOYED':
            temp = temp.drop(columns=temp.filter(regex='PROXY_FLAG').columns)

        # write
        temp.to_excel(writer, sheet_name=bin)
        del temp
        gc.collect()

# verbose
print(f"Successfully saved: {final_savename}")

Procesing SIDE_HUSTLER....

0

Procesing SELF_EMPLOYED....

0

Successfully saved: bizko_profiles_202403.xlsx

In [35]:
### FORCE ERROR TO STOP RUN HERE
asdjajsiodjasd

NameError: name 'asdjajsiodjasd' is not defined

## For sir Joenil Afflu Ask (8/18/2023)

In [ ]:
# get final table
final_deets = final[['TARGET_FLAG_LENIENT']].merge(sc[['CST_ID','cl_id4']], on='CST_ID', how='left').merge(cs[['CST_ID','IDV_OCP_TYP_ID']])
final

,PAYROLL_NG_PROXY_FLAG,INVOICE_NG_PROXY_FLAG,BR_DEPOSIT_PROXY_FLAG,BR_INVOICE_PROXY_FLAG,TARGET_FLAG_LENIENT
CST_ID,,,,,
243655000.0,1.0,0.0,0.0,1.0,1
766765000.0,1.0,0.0,0.0,0.0,1
172310000.0,1.0,1.0,0.0,0.0,1
479120000.0,1.0,0.0,1.0,1.0,1
191385000.0,1.0,0.0,0.0,0.0,1
...,...,...,...,...,...
413583300.0,0.0,0.0,0.0,0.0,0
413579220.0,0.0,0.0,0.0,0.0,0
413580220.0,0.0,0.0,0.0,0.0,0
413579320.0,0.0,0.0,0.0,0.0,0
999999420.0,0.0,0.0,0.0,0.0,0

In [ ]:
# check final_deets
final_afflu = final_deets.loc[final_deets.cl_id4.isin(['Next','Top Personal', 'Preferred','Gold'])].query("TARGET_FLAG_LENIENT==1")
final_afflu['SELF_EMPLOYED'] = np.where(final_afflu.IDV_OCP_TYP_ID=='SELFEMPLOYED',1,0)

final_afflu

Empty DataFrame
Columns: [CST_ID, TARGET_FLAG_LENIENT, cl_id4, IDV_OCP_TYP_ID, SELF_EMPLOYED]
Index: []

In [ ]:
# size the whole bnase
final_afflu.rename(columns={'cl_id4':'SEGMENT'}).groupby(['SELF_EMPLOYED','SEGMENT']).size().to_frame().applymap(fmt)

Empty DataFrame
Columns: [0]
Index: []

In [ ]:
final_afflu.rename(columns={'cl_id4':'SEGMENT'}).groupby(['SELF_EMPLOYED','SEGMENT']).size().sum()

0